#main-container{
    background-color: rgb(31, 23, 23);
    color: white;
}
#header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.image-container{
    display: flex;
    font-size: 50px;
    font-weight: 10px;
    
}
.image-tag{
    width: 60px;
    height: 60px;
}
.navbar ul{
    display: flex;
    padding: 10px;
    list-style: none;
}
.navbar ul li{
    margin: 15px;
}
.navbar ul li:hover{
    color: rgb(245, 102, 7);
}
.navbar ul button{
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.navbar ul button:hover{
    background-color: rgb(245, 102, 7);
    color: white;
}
#second-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.one-container button:hover{
    background-color: rgb(245, 102, 7);
    color: white;
}
.one-container button{
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.one-container{
    margin: 10px;
    padding: 20px;
}
.two-container{
    margin: 10px;
    padding: 20px;
    width: 50%;
}